extends /_includes/layout


block title
    title ChatRoom

block content

    .cb-layout#view-main
        .cb-content
            .cb-tabs-navs
                h3 
                    a(href="../index.html") HOME
                h3
                    a(href="https://github.com/HariKrishna-28/ChatRoom ", target="_blank") VIEW GITHUB REPOSITORY
                h3
                    a(href="https://chat-room-28.netlify.app/", target="_blank") LAUNCH SITE

            section.cb-outro
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h2 ChatRoom 
                                    
                                .cb-outro-list
                                    .cb-outro-list-item: h4 Chat room is a real time room code based chat application using web sockets #[br]in which the use of can chat with one or multiple user at a time
                                    .cb-outro-list-item: h5 Built using ReactJs, TailWindCSS, ExpressJs, Auth0 and SocketIo.
                                    
