block content
    section.cb-marquee
            .cb-marquee-main
                .cb-marquee-carousel.-v1(data-cursor-text="Drag")
                    .cb-marquee-items
                        .cb-marquee-item
                            img(src="/assets/img/1.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/2.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/3.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/4.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/5.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/6.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/7.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/8.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/9.jpeg", alt)
                        .cb-marquee-item
                            img(src="/assets/img/10.jpeg", alt)
                            