extends /_includes/layout


block title
    title GoSearch

block content

    .cb-layout#view-main
        .cb-content
            .cb-tabs-navs
                h3 
                    a(href="../index.html") HOME
                h3
                    a(href="https://github.com/HariKrishna-28/GoSearch", target="_blank") VIEW GITHUB REPOSITORY
                h3
                    a(href="https://go-search.netlify.app/", target="_blank") LAUNCH SITE

            section.cb-outro
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h2 Go Search🔎
                                    
                                .cb-outro-list
                                    .cb-outro-list-item: h4 Search Engine that scrapes google search results
                                    .cb-outro-list-item: h5 Built using ReactJs, TailWindCSS, ExpressJs, Axios and cheerio.
                                    
