extends /_includes/layout


block title
    title RoboDash

block content

    .cb-layout#view-main
        .cb-content
            .cb-tabs-navs
                h3 
                    a(href="../index.html") HOME
                h3
                    a(href="https://github.com/HariKrishna-28/RoboDash", target="_blank") VIEW GITHUB REPOSITORY
                h3
                    a(href="https://RoboDash.netlify.app/", target="_blank") LAUNCH SITE

            section.cb-outro
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h2 RoboDash
                                        img(src="../assets/img/r4.svg", draggable="false")
             
                                .cb-outro-list
                                    .cb-outro-list-item: h4 RoboDash is a match 3 puzzle game in which the user can complete with other user to make it to the leaderboards
                                    .cb-outro-list-item: h5 Built using ReactJs, Auth0, TailWindCSS, ExpressJs and backed by MongoDB 
                                    
