extends /_includes/layout

block title
    title Harikrishna

block content

    .cb-layout#view-main
        .cb-content

            .cb-tabs.-inverse
                .cb-tabs-navs
                    //- .cb-tabs-nav.-active
                    //- .cb-tabs-nav
                    //- .cb-tabs-nav
                .cb-tabs-content.-active
                    section.cb-demo.-v3
                        .cb-particles
                            .cb-particles-item.-text.-v1.-s4: span Javascript
                            .cb-particles-item.-text.-v2.-s4: span Typescript
                            .cb-particles-item.-text.-v3.-s4: span ReactJs
                            .cb-particles-item.-text.-v4.-s4: span ExpressJs
                            .cb-particles-item.-text.-v5.-s4: span NodeJs
                            .cb-particles-item.-text.-v6.-s4: span NextJs
                            .cb-particles-item.-text.-v7.-s4: span Python
                            .cb-particles-item.-text.-v8.-s4: span Java
                            .cb-particles-item.-text.-v8.-s4: span Heroku
                            .cb-particles-item.-text.-v9.-s4: span Postman
                            .cb-particles-item.-text.-v10.-s4: span Git
                            .cb-particles-item.-text.-v11.-s4: span Firebase
                            .cb-particles-item.-text.-v11.-s4: span Netlify
                            .cb-particles-item.-text.-v11.-s4: span Html
                            .cb-particles-item.-text.-v11.-s4: span Css
                            .cb-particles-item.-text.-v11.-s4: span Bootstrap
                            .cb-particles-item.-text.-v11.-s4: span TailwindCss
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h1 Harikrishna C
                                .cb-outro-list
                                    .cb-outro-list-item: h3 Full Stack MERN Developer
                                    .cb-outro-list-item: h3 Python Programmer
                .cb-tabs-content
                    section.cb-demo.-v2
                        .cb-particles
                            .cb-particles-item.-emoji.-v1.-s6 👍
                            .cb-particles-item.-emoji.-v2.-s6 🎉
                            .cb-particles-item.-emoji.-v3.-s6 🔑
                            .cb-particles-item.-emoji.-v4.-s6 👌
                            .cb-particles-item.-emoji.-v5.-s6 🎈
                            .cb-particles-item.-emoji.-v6.-s6 💎
                            .cb-particles-item.-emoji.-v7.-s6 💡
                            .cb-particles-item.-emoji.-v8.-s6 🗿
                            .cb-particles-item.-emoji.-v9.-s6 🧨
                            .cb-particles-item.-emoji.-v10.-s6 🎁
                            .cb-particles-item.-emoji.-v11.-s6 🏀
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h1 Emoji#[br] downfall
                .cb-tabs-content
                    header.cb-demo.-v1
                        .cb-particles
                            .cb-particles-item.-dot.-v1.-s1.-c3
                            .cb-particles-item.-dot.-v2.-s2.-c4
                            .cb-particles-item.-dot.-v3.-s3.-c5
                            .cb-particles-item.-dot.-v4.-s1.-c1
                            .cb-particles-item.-dot.-v5.-s2.-c4
                            .cb-particles-item.-dot.-v6.-s3.-c2
                            .cb-particles-item.-dot.-v7.-s4.-c1
                            .cb-particles-item.-dot.-v8.-s2.-c4
                            .cb-particles-item.-dot.-v9.-s3.-c5
                            .cb-particles-item.-dot.-v10.-s3.-c1
                            .cb-particles-item.-dot.-v11.-s3.-c3
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h1 Awesome#[br] particles
                                
            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 About

                        .cb-outro-list
                            .cb-outro-list-item: span I am a self taught web developer and python programmer. I seek challenging opportunities where I can fully use my skills for the success of the organisation.
            
            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Areas of Interest

                        .cb-outro-list
                            .cb-outro-list-item: span Full stack web development

            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Currently Learning

                        .cb-outro-list
                            .cb-outro-list-item: span NextJs and SailsJs
                        

            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Projects
                        .cb-outro-list
                            .cb-outro-list-item: a(href="https://covidtracker28.netlify.app/", target="_blank") Covid-19 Tracker
                            .cb-outro-list-item: a(href="https://robo-dash.netlify.app/", target="_blank") Robodash
                            .cb-outro-list-item: a(href="https://quizoid.netlify.app/", target="_blank") Quizoid
                            .cb-outro-list-item: a(href="https://go-search.netlify.app/", target="_blank") GoSearch
                            .cb-outro-list-item: a(href="https://chat-room-28.netlify.app/", target="_blank") ChatRoom
            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Open Source Contributions
                        .cb-outro-list
                            .cb-outro-list-item: a(href="https://www.npmjs.com/package/load-animations-react", target="_blank") React Loading animations
                            .cb-outro-list-item: a(href="https://www.npmjs.com/package/react-stt", target="_blank") Speech to text react
            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Social
                        .cb-outro-list
                            .cb-outro-list-item: a(href="https://github.com/HariKrishna-28", target="_blank") Github
                            .cb-outro-list-item: a(href="https://linkedin.com/in/hari-krishna-b02466207", target="_blank") LinkedIn
                            .cb-outro-list-item: a(href="https://www.hackerrank.com/Harikrishna28", target="_blank") Hackerrank


            //- include components/featured_products.pug
                            