extends /_includes/layout


block title
    title Quizoid

block content

    .cb-layout#view-main
        .cb-content
            .cb-tabs-navs
                h3 
                    a(href="../../") HOME
                h3
                    a(href="https://github.com/HariKrishna-28/Quizoid", target="_blank") VIEW GITHUB REPOSITORY
                h3
                    a(href="https://quizoid.netlify.app/", target="_blank") LAUNCH SITE

            section.cb-outro
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h2 Quizoid
                                    
                                .cb-outro-list
                                    .cb-outro-list-item: h4 Quizoid is gamified application to improve genaral knowledge with a gamified and fund experience. #[br] The user can choose a quiz from 16 categories and compete with other uses to make it to the leaderboards
                                    .cb-outro-list-item: h5 Built using ReactJs, FireBase and OpenTriviaDb API 
                                    
