<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quizoid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <div class="cb-layout" id="view-main">
      <div class="cb-content">
        <div class="cb-tabs-navs">
          <h3> <a href="../index.html">HOME</a></h3>
          <h3><a href="https://github.com/HariKrishna-28/Quizoid" target="_blank">VIEW GITHUB REPOSITORY</a></h3>
          <h3><a href="https://quizoid.netlify.app/" target="_blank">LAUNCH SITE</a></h3>
        </div>
        <section class="cb-outro">
          <div class="cb-demo-content">
            <div class="cb-demo-container">
              <div class="cb-demo-header">
                <h2>Quizoid</h2>
              </div>
              <div class="cb-outro-list">
                <div class="cb-outro-list-item">
                  <h4>Quizoid is gamified application to improve genaral knowledge with a gamified and fund experience. <br> The user can choose a quiz from 16 categories and compete with other uses to make it to the leaderboards</h4>
                </div>
                <div class="cb-outro-list-item">
                  <h5>Built using ReactJs, FireBase and OpenTriviaDb API </h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="/assets/js/bundle.js" defer></script>
  </body>
</html>