/**
    Example of particles
 */
.cb-particles {
    $root:&;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;

    contain:content;
    pointer-events:none;

    img{
        border-radius: 10px;
    }

    &-item {
        $this:&;

        position:absolute;
        pointer-events:auto;

        /* Types */
        &.-dot {
            &:before {
                content:"";
                display:block;
                width:1em;
                height:1em;

                border-radius:50%;
            }
        }

        &.-text {
            span {
                opacity:0.6;
            }
        }

        /* Positions */
        &.-v1 {
            left:2%;
        }

        &.-v2 {
            left:11%;
        }

        &.-v3 {
            left:17%;
        }

        &.-v4 {
            left:22%;
        }

        &.-v5 {
            left:28%;
        }

        &.-v6 {
            left:33%;
        }

        &.-v7 {
            left:39%;
        }

        &.-v8 {
            left:45%;
        }

        &.-v9 {
            left:51%;
        }

        &.-v10 {
            left:56%;
        }

        &.-v11 {
            left:62%;
        }

        &.-v12 {
            left: 68%;
        }

        &.-v13 {
            left: 72%;
        }
        
        &.-v14 {
            left: 78%;
        }

        &.-v15 {
            left: 82%;
        }

        &.-v16 {
            left: 86%;
        }

        &.-v17 {
            left: 96%;
        }

        /* Sizes */
        &.-s1 {
            font-size:13px;
        }

        &.-s2 {
            font-size:15px;
        }

        &.-s3 {
            font-size:18px;

        }

        &.-s4 {
            font-size:26px;
        }

        &.-s5 {
            font-size:40px;
        }

        &.-s6 {
            font-size:60px;
        }

        /* Colors */
        &.-c1 {
            &:before {
                background:#89f6ff;
            }
        }

        &.-c2 {
            &:before {
                background:#feca00;
            }
        }

        &.-c3 {
            &:before {
                background:#ff5e00;
            }
        }

        &.-c4 {
            &:before {
                background:#0248db;
            }
        }

        &.-c5 {
            &:before {
                background:$color-base;
            }
        }
    }
}